Repository spe-uob/2024-AILearningTool, pull requests merged in 2025-04, with the labels that each got.

#242 bugfix/issue-229/invisible-course-links
  frontend/src/components/MainContent.vue
Labels: Frontend, Final

#243 feature/issue-209/update-readme
  .github/workflows/deploy-ghcr.yml
  README.md
  docs/architecture_diagram.drawio
  docs/architecture_diagram.png
  docs/architecture_diagram.svg
Labels: documentation, Github, Deployment

#249 bugfix/issue-248/diagram-not-appearing
  README.md
Labels: documentation, Github, Final

#247 Feature/issue 184/create sqlite database to store user information
  .github/workflows/deploy-ghcr.yml
  .gitignore
  backend/pom.xml
  backend/src/main/java/com/UoB/AILearningTool/AiLearningToolApplication.java
  backend/src/main/java/com/UoB/AILearningTool/Chat.java
  backend/src/main/java/com/UoB/AILearningTool/DatabaseController.java
  backend/src/main/java/com/UoB/AILearningTool/OpenAIAPIController.java
  backend/src/main/java/com/UoB/AILearningTool/SpringController.java
  backend/src/main/java/com/UoB/AILearningTool/StringTools.java
  backend/src/main/java/com/UoB/AILearningTool/User.java
  backend/src/main/java/com/UoB/AILearningTool/WatsonxResponse.java
  backend/src/main/java/com/UoB/AILearningTool/model/ChatEntity.java
  backend/src/main/java/com/UoB/AILearningTool/model/UserEntity.java
  backend/src/main/java/com/UoB/AILearningTool/repository/ChatRepository.java
  backend/src/main/java/com/UoB/AILearningTool/repository/UserRepository.java
  backend/src/main/resources/application.properties
  backend/src/test/java/com/UoB/AILearningTool/AiLearningToolApplicationTest.java
  backend/src/test/java/com/UoB/AILearningTool/ChatTest.java
  backend/src/test/java/com/UoB/AILearningTool/DatabaseControllerTest.java
  backend/src/test/java/com/UoB/AILearningTool/OpenAIAPIControllerTest.java
  backend/src/test/java/com/UoB/AILearningTool/SpringControllerTest.java
  backend/src/test/java/com/UoB/AILearningTool/UserTest.java
  backend/src/test/resources/application-test.yml
  frontend/src/App.vue
  frontend/src/Display interface/Login.vue
  frontend/src/Display interface/MainView.vue
  frontend/src/assets/globalConstants.js
  frontend/src/components/HistorySidebar.vue
  frontend/src/components/MainContent.vue
  frontend/src/components/SettingSidebar.vue
  frontend/src/main.js
  frontend/tests/unit/HistorySidebar.spec.js
  frontend/tests/unit/Login.spec.js
  frontend/tests/unit/MainContent.spec.js
  frontend/tests/unit/MainView.spec.js
  frontend/tests/unit/TypingText.spec.js
  localExecute.sh
Labels: Backend, Frontend, Final

#251 hotfix/issue-250/documentation-update
  README.md
  docs/Handover.md
Labels: documentation, Github, Final

#252 Feature/issue 219/account deletion
  backend/src/main/java/com/UoB/AILearningTool/DatabaseController.java
  backend/src/main/java/com/UoB/AILearningTool/SpringController.java
  backend/src/test/java/com/UoB/AILearningTool/DatabaseControllerTest.java
  backend/src/test/java/com/UoB/AILearningTool/SpringControllerTest.java
  frontend/src/assets/language.js
  frontend/src/components/SettingSidebar.vue
Labels: Backend, Frontend

#253 Feature/issue 239/add voice input
  frontend/src/assets/language.js
  frontend/src/components/MainContent.vue
Labels: Extra functionality, Frontend, Final
