Repository spe-uob/2024-AILearningTool, pull requests merged in 2025-03, with the labels that each got.

#231 bugfix/issue 230/typing-like-bug
  frontend/src/components/MainContent.vue
  frontend/src/components/helpers/TypingText.vue
Labels: Frontend, Final

#233 Bugfix/issue 232/implement openai secret
  .github/workflows/deploy-ghcr.yml
  .gitignore
  backend/src/main/java/com/UoB/AILearningTool/OpenAIAuthenticator.java
  localExecute.sh
Labels: OpenAI

#236 Feature/issue 203/url global variable
  .github/workflows/deploy-ghcr.yml
  .github/workflows/maven.yml
  .gitignore
  backend/src/main/java/com/UoB/AILearningTool/AiLearningToolApplication.java
  backend/src/main/java/com/UoB/AILearningTool/OpenAIAuthenticator.java
  backend/src/test/java/com/UoB/AILearningTool/AiLearningToolApplicationTest.java
  localExecute.sh
Labels: Backend, Frontend, OpenAI

#223 feature/issue-198/responsive-ui
  docs/Presentations/AI Learning Tool Beta.pdf
  docs/Presentations/AI Learning Tool MVP.pdf
  docs/Research/vue-notes.md
  frontend/public/index.html
  frontend/src/App.vue
  frontend/src/assets/responsive.css
  frontend/src/components/HistorySidebar.vue
  frontend/src/components/MainContent.vue
  frontend/src/components/SettingSidebar.vue
  frontend/src/main.js
Labels: Frontend, Final

#237 Feature/issue 220/chat export button
  backend/src/main/java/com/UoB/AILearningTool/OpenAIAuthenticator.java
  frontend/src/Display interface/MainView.vue
  frontend/src/assets/language.js
  frontend/src/components/HistorySidebar.vue
  frontend/src/components/MainContent.vue
Labels: Frontend, Final
